<div class="menu-body" *ngIf="menuVisible">
  <div class="column border-right">
    <ul>
      <li *ngFor="let item of items" class="noselect pointer" (click)="menuItemClicked(item.name)">
        <div class="menu-item noselect" *ngIf="item.name != 'Menu'">{{item.name}}</div>
        <div class="menu-item noselect" *ngIf="item.name === 'Menu'">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
      </li>
    </ul>
  </div>
  <div class="column" *ngIf="submenuVisible">
    <app-menu [root]="selectedItem"></app-menu>
  </div>
</div>