<section class="dsc-form-body">
  <div style="padding:5px;">
    <div class="title-font dsc-form-title">{{componentName}}</div>
    <form class="form-horizontal" name="dsc-parameter">

      <!--common fields-->
      <div class="form-group">
        <label class="control-label form-label" [ngClass]="{'error': isRuleTypeValid() === false}">Rule Type:</label>
        <div style="display:inline-block;vertical-align:middle;">
          <select name="rule-type" [(ngModel)]="ruleType" class="form-control">
            <option value="">select rule type</option>
            <option *ngFor="let ruleType of ruleTypes" [value]="ruleType">{{ruleType}}</option>
          </select>
        </div>
      </div>
      <div class="form-group" *ngIf="shouldShow('commonFields')">
        <label class="control-label form-label" [ngClass]="{'error': isEnabledValid() === false}">Enabled:</label>
        <div style="display:inline-block;vertical-align:middle;">
          <select name="selected-enabled" [(ngModel)]="enabled" class="form-control">
            <option value="">select an option</option>
            <option value="True">Yes</option>
            <option value="False">No</option>
          </select>
        </div>
      </div>
      <div class="form-group" *ngIf="shouldShow('commonFields')">
        <label class="control-label form-label" [ngClass]="{'error': isEnsureValid() === false}">Ensure:</label>
        <div style="display:inline-block;vertical-align:middle;">
          <select name="selected-ensure" [(ngModel)]="ensure" class="form-control">
            <option value="">select ensure option</option>
            <option value="Present">Present</option>
            <option value="Absent">Absent</option>
          </select>
        </div>
      </div>

      <!--non-predefined-fields-->
      <div *ngIf="shouldShow('non-predefined-fields')" class="form-group">
        <label class="control-label form-label" [ngClass]="{'error': isProfileValid() === false}">Profiles: </label>
        <div style="display:inline-block;vertical-align:middle;">
          <div *ngFor="let profile of getProfiles()" class="pointer noselect border-full check-item" [ngClass]="{'check-item-selected': isProfileSelected(profile)}" style="display:inline-block" (click)="toggleProfile(profile)">
            {{profile}}
          </div>
        </div>
      </div>
      <div *ngIf="shouldShow('non-predefined-fields')" class="form-group">
        <label class="control-label form-label" [ngClass]="{'error': isDirectionValid() === false}">Direction: </label>
        <div style="display:inline-block;vertical-align:middle;">
          <select name="direction" [(ngModel)]="direction" class="form-control">
            <option value="InBound">In bound</option>
            <option value="OutBound">Out bound</option>
          </select>
        </div>
      </div>

      <!--program fields-->
      <div *ngIf="shouldShow('programFields')" class="form-group">
        <label class="control-label form-label" [ngClass]="{'error': isProgramValid() === false}">Path:</label>
        <div style="display:inline-block;vertical-align:middle;">
          <input type="text" name="program-path" [(ngModel)]="program" class="form-control" />
        </div>
      </div>

      <!--Port fields -->
      <div *ngIf="shouldShow('portFields')" class="form-group">
        <label class="control-label form-label" [ngClass]="{'error': isProtocolValid() === false}">Protocol: </label>
        <div style="display:inline-block;">
          <select name="protocol" [(ngModel)]="protocol" class="form-control">
            <option value="TCP">TCP</option>
            <option value="UDP">UDP</option>
          </select>
        </div>
      </div>
      <div *ngIf="shouldShow('portFields')" class="form-group">
        <label class="control-label form-label" [ngClass]="{'error': isPortValid() === false}">Ports:</label>
        <div style="display:inline-block;vertical-align:middle;">
          <input type="text" name="port" [(ngModel)]="port" class="form-control" />
        </div>
      </div>

      <!--Predefined fields-->
      <div *ngIf="shouldShow('version')" class="form-group">
        <label class="control-label form-label" [ngClass]="{'error': isVersionValid() === false}">Server Version: </label>
        <div style="display:inline-block;vertical-align:middle;">
          <select name="server-version" [(ngModel)]="version" class="form-control">
            <option value="">select an operating system</option>
            <option *ngFor="let version of versions">{{version}}</option>
          </select>
        </div>
      </div>
      <div *ngIf="shouldShow('predefined-rules')" class="form-group">
        <label class="control-label form-label" [ngClass]="{'error': isRuleNameValid() === false}">Rule:</label>
        <div style="display:inline-block;vertical-align:middle;">
          <select name="built-in-rule" [(ngModel)]="predefinedRuleName" class="form-control">
            <option value="">select a rule</option>
            <option *ngFor="let rule of rules" [value]="rule.Name" [title]="rule.Description">{{rule.DisplayName}}</option>
          </select>
        </div>
      </div>

      <!--display name and description-->
      <div *ngIf="shouldShow('non-predefined-fields')" class="form-group">
        <label class="control-label form-label" [ngClass]="{'error': isNameValid() === false}">Name:</label>
        <div style="display:inline-block;vertical-align:middle;">
          <input type="text" name="name" [(ngModel)]="name" class="form-control" />
        </div>
      </div>
      <div *ngIf="shouldShow('non-predefined-fields')" class="form-group">
        <label class="control-label form-label" [ngClass]="{'error': isDisplayNameValid() === false}">Display Name:</label>
        <div style="display:inline-block;vertical-align:middle;">
          <input type="text" name="display-name" [(ngModel)]="displayName" class="form-control" />
        </div>
      </div>
      <div *ngIf="shouldShow('non-predefined-fields')" class="form-group">
        <label class="control-label form-label">Description:</label>
        <div style="display:inline-block;vertical-align:middle;">
          <textarea type="text" name="description" [(ngModel)]="description" class="form-control"></textarea>
        </div>
      </div>

      <div class="form-group" style="text-align: right;">
        <div>
          <label *ngIf="shouldShow('saveButton')" class="btn btn-warning pointer" (click)="onSave()">Save</label>
          <label class="btn btn-default pointer" style="background-color: rgb(240,240,240);" (click)="onCancel()">Cancel</label>
        </div>
      </div>
    </form>
    <div *ngIf="errorMessage.length > 0" class="error">{{errorMessage}}</div>
  </div>
</section>