.dsc-collection-main
{
  white-space: nowrap;
  vertical-align: top;
  height: 100%;
}
.collection-menu
{
  
}
.dsc-menu li
{
  padding:10px;
}
.dsc-menu li:hover
{
  background: #3f3f46;
}
.dsc-content
{
  padding:10px;
}