.selected-value-container {
  border: 1px solid #999;
  background-color: #ccc;
  color: #333;
  padding:0;
  margin:0;
  border-radius: 5px;
  font-weight: bold;
}
.selected-value-button:hover
{
  background-color:#777;
  color:#eee;
}
