<header class="app-header">
  <app-header (select)="onHeaderSelect($event)"></app-header>
</header>
<div class="app-body border-bottom">
  <div style="overflow: auto;height: 100%;">
      <div *ngIf="getRegionn() == 'WELCOME'" style="position:relative;margin-top:50px;margin-left:50px;">
        <img src="app/resources/mylogo.svg" title="logo" /><br/>
        <label style="color:#515152;font-size:36px;font-weight:bold;padding-left:30px;">a gaiabird project</label>
      </div>
      <dsc-collection *ngIf="getRegionn() == 'DSCC'"></dsc-collection>
      <div *ngIf="getRegionn() == 'HELP'">Help me</div>
      <div *ngIf="getRegionn() == 'ABOUT'">About</div>
      <div *ngIf="getRegionn() == 'DONATE'">Donate</div>
      <div *ngIf="getRegionn() == '404'">404 Page not found</div>
    </div>
</div>