  <div class="header-body">
    <div style="float: left; padding:6px 0;">
      <div class="{{popup.getButtonClasses()}}" (click)="popup.toggle()" (mouseout)="popup.handleMouseOut()" (mouseover)="popup.handleMouseOver()">
        <i class="fa fa-bars" aria-hidden="true" style="font-size: 24px;"></i>
      </div>
    </div>
    <div class="title" style="float:left;padding-left:32px;position:relative;top:-12px;">
      {{title}}
    </div>
    <div class="popup header-menu {{popup.getVisibilityClass()}}" (mouseout)="popup.handleMouseOut()" (mouseover)="popup.handleMouseOver()">
      <ul>
        <li class="popup-item pointer noselect" *ngFor="let item of menuItems" (click)="menuItemClicked(item)" >{{item}}</li>
      </ul>
    </div>
  </div>