  <div class="header-body">
    <div style="float: left; padding:6px 0;">
      <div class="header-menu-button-body pointer no-select{{getMenuButtonClass()}}" (click)="toggleMenu()" (mouseout)="handleMenuMouseOut()" (mouseover)="handleMenuMouseOver()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </div>
    <div class="title" style="float:left;padding-left:32px;position:relative;top:-12px;">
      {{title}}
    </div>
    <div class="menu-font header-popup-menu {{getMenuVisibility()}}" (mouseout)="handleMenuMouseOut()" (mouseover)="handleMenuMouseOver()">
      <ul>
        <li class="header-menu-item pointer noselect" *ngFor="let item of menuItems" (click)="menuItemClicked(item)" >{{item}}</li>
      </ul>
    </div>
  </div>