<section class="dsc-form-body">
  <div style="padding:5px;">
    <div class="title-font dsc-form-title">Windows Features</div>
    <form class="form-horizontal" name="dsc-parameter">
      <div class="form-group">
        <label class="control-label">Server Version:</label>
        <div>
          <select name="selected-version" [(ngModel)]="selectedVersion" class="form-control">
            <option value="">select an operating system</option>
            <option *ngFor="let serv of servers">{{serv.Version}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label style="border-radius:3px; border:1px solid #777;padding-bottom:7px;padding-top:4px;width:100%;" class="pointer noselect block {{popup.getButtonClasses()}}" (click)="popup.toggle()" (mouseout)="popup.handleMouseOut()" (mouseover)="popup.handleMouseOver()">
          Choose Features <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </label>
        <div style="font-size:16px;" class="popup collection-menu {{popup.getVisibilityClass()}}" (mouseout)="popup.handleMouseOut()" (mouseover)="popup.handleMouseOver()">
          <label style="border-radius:3px; border:1px solid #777;padding:4px;width:100%;background-color:#445; color:bisque;">
            {{getFeaturesMessage()}}
          </label>
          <dsc-feature-list [parent]="null" [features]="getFeatures()"></dsc-feature-list>
        </div>
        <ul style="padding-left:10px;">
          <li *ngFor="let feature of selectedFeatures">
            <i class="fa fa-check-square-o" aria-hidden="true" style="padding-right:5px;"></i> {{feature}}
          </li>
        </ul>
      </div>
      <div class="form-group">
        <label class="control-label">Setup Credential:</label>
        <div>
          <select name="selected-credential" [(ngModel)]="selectedCredential" class="form-control">
            <option value="">(optional)</option>
            <option [value]="cred.getDscName()" *ngFor="let cred of credentials">{{cred.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Ensure:</label>
        <div>
          <select name="selected-ensure" [(ngModel)]="selectedEnsure" class="form-control">
            <option value="Present">Present</option>
            <option value="Absent">Absent</option>
          </select>
        </div>
      </div>
      <div class="form-group" style="text-align: right;">
        <div>
          <label class="btn btn-warning pointer" (click)="saveClick()">Save</label>
          <label class="btn btn-default pointer" style="background-color: rgb(240,240,240);" (click)="cancelClick()">Cancel</label>
        </div>
      </div>
    </form>
    <div class="error">{{errorMessage}}</div>
  </div>
</section>